annotated-doc
annotated-types
anyio
certifi
charset-normalizer
click>=8.0.0
colorama
distro
dnspython

fastapi>=0.100.0
h11
httpcore
httptools
httpx
idna
jiter
motor
numpy
openai
opencv-python-headless
pydantic>=2.0.0
pydantic_core
pymongo
PyPDF2
python-dotenv
python-multipart
PyYAML
requests
sniffio
starlette
tqdm
typing-inspection
typing_extensions
urllib3
uvicorn
watchfiles
websockets
